#barra_de_inicio{
    background-color:#7fffd4 ;
    text-align: center;
    color: black;
    font-family:"Bebas Neue","serif";
    font-weight: 500;
    font-style: normal; 
    margin-bottom: 10px;
    box-shadow: 0 3px 6px #00000029;
    
}
main{
    margin: 40px;
}
#icon{
    font-weight:1000;
    font-family: "Bebas Neue","serif";
    font-size: 40px;
    font-style: italic;
    margin-left: 10px;

}
#nome{
    margin-right: 10px;
    font-size: 24px;
}

#logo_1{
    margin: auto;
    height: auto;
    position: relative;
}

#form{
    border: 0.5px solid #d3d3d3;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: 0 3px 15px #00000029;
    margin-bottom: 5px;
    padding-bottom:50px;
    
}

.rodape{
   
    text-align: center;
}

#img_logo{
    max-width: 40px;
    margin-right: 10px;
}
form{
    margin-bottom: 20px;
}
.logo-go{
    max-width: 25px;
    margin-left: 10px;
    
}

.glosario{
    margin-top: 10px;
}

#frase-inicio{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
.navbar {
    --bs-navbar-padding-x: 0;
     --bs-navbar-padding-y:0
}